@import "tailwindcss";

@theme {
  --color-bg: #020617;
  --color-bg-soft: #02081f;
  --color-bg-card: #020617;
  --color-accent: #facc6b;
  --color-accent-soft: #fef3c7;
  --color-border-subtle: #1e293b;
  --color-text-white: #ffffff;
  --color-textBlack: #0f172a;
  --color-text-grey: #64748b;
  --color-text-muted: #9ca3af;
  --color-text-soft: #e5e7eb;
  --color-borderColor: #e2e8f0;
  --font-krona: "Krona One", sans-serif;
}

#root {
  min-height: 100vh;
}
